h2 {
    color: #00B5E8;
}

.game_cntr .dropdown_cntr {
    position: relative;
}

.game_cntr .playerDrpdwn li.active {
    background: #ddd;
    border-color: #888;
}

.game_cntr input {
    border-radius: 0;
}

.game_cntr input:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.game_cntr ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
    border-radius: 0 0 5px 5px;
    /* position: absolute; */
    width: 100%;
    top: 38px;
    transition: all .5s ease-in-out;
}

.game_cntr ul li {
    padding: 5px 15px;
    border-width: 0.5px 0;
    border-style: solid;
    border-color: #D6D5D6;
    cursor: pointer;
}

.game_cntr .winner_cntr span {
    font-size: 45px;
}

.game_cntr .winner_cntr button {
    background: #00b5e8;
    border: 1px solid #666;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.game_cntr .tile > div > div {
    background: #eee;
    border: 1px solid #666;
    border-radius: 3px;
}