.App {
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0.3px;
    min-height: calc(100vh - 70px);
}

.App .main-cntr {
    margin: 15px;
    padding: 15px;
    border: 1px solid #999;
    background: #d4eefa;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}